nav > div{
  background-color: red;
}
.navigation{
  text-decoration: none;
}
.nav-tab a:hover{
  color: hotpink;
}
body{
  background-color: silver;
}
.center{
  position: absolute;
  width: 600px;
  height: 50px;
  top: 10%;
  left: 45%;
  margin-left: -50px;
  margin-top: -25px;
}
.center1{
  position: absolute;
  width: 400px;
  height: 200px;
  top: 20%;
  left: 23%;
  margin-left: -50px;
  margin-top: -25px;
}
.center2{
  position: absolute;
  width: 400px;
  height: 50px;
  top: 8%;
  left: 48%;
  margin-left: -50px;
  margin-top: -25px;
}
.center3{
  position: absolute;
  width: 400px;
  height: 50px;
  top: 1%;
  left: 10%;
  margin-left: -50px;
  margin-top: -25px;
}
.center4{
  position: absolute;
  width: 500px;
  height: 50px;
  top: 12.5%;
  left: 3%;
  margin-left: -50px;
  margin-top: -25px;
}
.center5{
  position: absolute;
  width: 600px;
  height: 50px;
  top: 20%;
  left: 2.5%;
  margin-left: -50px;
  margin-top: -25px;
}
span{
  color: red;
}

#patterns{
  font-size: 175%
}

#patternspara{
  font-size: 140%;
}

#patternInput{
  position: absolute;
  left: 5px;
 right: 10px;
 top: 300px;
bottom: 10px;
}

.center6{
  position: absolute;
  width: 600px;
  height: 50px;
  top: 375px;
  left: 25%;
  margin-left: -50px;
  margin-top: -25px;
}
